$colorDefault: #1698D9;
$colorDefaultHover: #2EA8E6;
$colorSelected: #D91667;
$colorSelectedHover: #E52E7A;
$disabled: #b3b3b3;

body {
    background-image: url("../img/background.png");
}

p {
    margin: 0;
    padding: 0;
    margin-top: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

img {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 12px;;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;	
}

.header {
    margin: 0;
    padding: 0;
    padding-top: 36px;
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 38px;
}

.block {
    width: 314px;
    height: 500px;
    float: left;
    margin: 40px;
    margin-top: 20px;
    text-align: center;    
}

.block__inside {
    padding: 0;
    width: 312px;
    height: 471px;
    border: 4px solid;
    border-radius: 12px;
    position: relative;
    text-align: center;
    background-color: #F2F2F2;
    clip-path: 
    polygon(
    0 44px,     /* верхняя левая */
    44px 0,     /* верхняя левая */
    100% 0%,    /* верхняя правая */
    100% 0%,   /* верхняя правая */
    100% 100%,  /* нижняя правая */
    100% 100%,  /* нижняя правая */
    0% 100%,   /* нижняя левая */
    0 100%      /* нижняя левая */
    );
    background:linear-gradient(135deg, transparent 27px, #F2F2F2 0);
}

.block__inside::before {
    content: "";
    position: absolute;
    top:-28px;
    left: -5px;
    height: 70px;
    width: 28px;
    background-image: url("../img/background.png");
    transform: rotate(45deg);
    border-top-left-radius: 25px;  
    border-bottom-left-radius: 25px;  
}

.block__inside::after {
    content: "";
    position: absolute;
    width: 57px;
    height: 0;
    border:inherit;
    border-width: 2px;
    transform: rotate(-45deg);
    top: 17px;
    left: -11px;
}

.block__inside__text {
    width: 210px;
    float: left;
    margin-left: 50px;
}

.block__inside__text__information {
    color: #666;
    font-size: 16px;
    float: left;
}

.block__inside__text__brand {
    font-size: 44px;
    font-weight: bold;
    float: left;
    color: #000;
    margin-top: 5px;
}

.block__inside__text__filling {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 24px;
    float: left;
    color: #000;
}

.block__inside__text__information__bottom__text {
    display: block;
    font-size: 14px;
    text-align: left;
}

.text__outside {
    color: #fff;
    text-align: center;
    font-size: 13px;
    
}

.disabled__text__outside {
    color: #ffff66;
}

.block__inside__circle {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    border: 40px solid;
    position: absolute;
    right: 12px;
    bottom: 12px;
}
.block__inside__circle__text {
    color: #fff;
    font-size: 45px;
    margin:-33px;  
}

.block__inside__circle__text__weight {
    font-size: 22px;
    line-height: 0.7em;
    padding-top: 30px;
}

.disabled {
    border-color: $disabled;
    color: $disabled;
}

.hover {
    border-color: $colorDefaultHover;
    color: $colorDefaultHover;
}

.checked {
    border-color: $colorSelected;
    color: $colorSelected;
}

.checkedhover {
    border-color: $colorSelectedHover;
    color: $colorSelectedHover;
}

.colorDefault {
    border-color: $colorDefault;
    color: $colorDefault;
}

.block__disabled {
    opacity: 0.2;
}
